$oragne-color: #FF5300;
$gray-color: #F5F5F5;
$dark-gray-color: #E5E5E5;
$grayscale-color: #ACACAC;
$black-color: #222222;
$blackc-color2: #555555;
$blackc-color7: #777777;
$white-color: #FFFFFF;
$shadow-color: #3E3E3E14;


$font-family: 'Josefin Sans', sans-serif;